:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  padding: 0px;
  margin: 0px;
  color-scheme: -normal;
  color: rgb(0, 0, 0);
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
html, body{
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}

/* Hide number input spinners */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* For Firefox and other browsers */
input[type="number"] {
  -moz-appearance: textfield;
  appearance: textfield;
}
